body {
    margin: 0;
    background-color: #010101;
    height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo-company {
    width: 100px;
    height: 100px;
}

.logo-doge {
    width: 30px;
    height: 30px;
}

button {
    padding: 10px 20px;
    margin: 15px;
    border-radius: 5px;
    border: 3px solid #cddc39;
    background-color: #b3b7be;
    color: #010101;
    font-weight: bold;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
        transform: scale(1.1, 1.1);
        background-color: #cddc39;

        h2 {
            color: black;
        }
    }
}

.opportunity_url {
    align-content: center;
    margin: 10px;
}